<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CSSPAppDBEntities" connectionString="metadata=res://*/CSSPAppEDM.csdl|res://*/CSSPAppEDM.ssdl|res://*/CSSPAppEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WMON01DTCHLEBL2;initial catalog=CSSPAppDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="CSSPAppDBEntities" connectionString="metadata=res://*/CsspAppEDM.csdl|res://*/CsspAppEDM.ssdl|res://*/CsspAppEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHARLES-PC;initial catalog=CSSPAppDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
